@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h2>
        <em><strong>Seu Contato foi deletado com sucesso !</strong></em>
    </h2>
</div>

<div>
    <p><h4>Gostaria de deletar mais algum contato ?</h4></p>

    <form method="get" action="/Agenda/listar">

        <input type="submit" value="Sim" />

    </form>

    <form method="get" action="/Agenda/Fim">

        <input type="submit" value="Não" />

    </form>

</div>
    